<div class="container">
    <h1>Home</h1>
    <h2>Bienvenido/a a mi práctica de DAW2</h2>
    <div class="content">
        <div class="descripcion">
            <p>
                En esta práctica usaremos los serivicios y el enrutamiento en Angular. Esta SPA (Single Page Application), 
                o aplicación de página única, es una aplicación web o es un sitio web que cabe en una sola página con el 
                propósito de dar una experiencia más fluida a los 
                usuarios, como si fuera una aplicación de escritorio.
            </p>
            <p>
                La aplicación se está compuesta por distintos componentes como el Home, Productos, Carrito y Contacto que
                se enrutan con el propósito de dar mas fluidez a la hora de navegar, sin tener que cargar cada página desde el
                servidor.
            </p>
        </div>
        <div class="img">
            <img src="{{ imgSrc }}" alt="angular">
        </div>
    </div>

</div>